
#contador{
    position:relative;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    text-align: center;
    border: 8px solid black;
}

#numero{
    margin-top: 70px;
    font-size: 2em;
}

.positivo{
    color:green
}

.negativo{
    color:red
}