*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:whitesmoke;
}

.logo-level-up{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.logo{
  height: 100px;
}

.pie-pagina{
  text-align: center;
}